<div class="container">
    <div data-bind="visible: error" style="color: red;">Error: <span data-bind="text: error"></span></div>
    <div data-bind="visible: !error()" style="white-space: pre-wrap;">
        <span data-bind="html: htmlContent"></span>
    </div>
</div>
